<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/AdminLogin.css" />
    <title>Admin-Login-Page</title>
  </head>
  <body>
    <h1>Admin Login Page</h1>
    <form action="/admin/login" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
